h1 {{message}}
h2 Nashville based Jr Front End Developer
div.about_me I have always been inetrested in art and creative endeavors. My love of creating has led me to delve into web developement at Nashville Software School, I am currently a student in Cohort E1(evening).
div.about_me

//html5 icon fa fa-html5
