nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/')
    ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Twitter
        li
          a(href='/about') About Me
        li
          a(href='/portfolio') Portfolio
        li
          a(mailto='/clj@ollure.com') i class="fa fa-envelope"
