h1 {{message}}
div.welcome
  h3 Welcome to my portfolio and online resume.
       Here you can see examples of my work.
div.movieapp
  div.movieappimg
        img(src="images/screen_grab_movieAgenda.jpg")
  div
        h3 Movie Agenda:
        h4List and Track your favorite movies.
        p Coauthor on this basic CRUD app. Built with HTML5, CSS, and Bootstrap.
div.atof
  div.atofImg
    img(src="images/screen_grab_ATOF.jpg")
  div.atofText
    h3 A Temptation of Faeries
    p HTML, CSS, graphics, photography



