/*div {
  border-style: solid;
  border-color: red;
}*/

div.screen_cap {
/*  height: 45%;*/
  width: 95%;
}

.screen_cap img {
  height: 450px;
  width: 550px;
}

div.text {
  /*height: 45%;*/
  width: 45%;
}



