
nav.navbar-default {
	background-color: #075033;
	font color: white;
      font-size: 1.5em;
	height: 80px;
	padding: 10px;

}

.navbar-default .navbar-nav>li>a {
	color: white;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  font-size: 2em;
  margin-left: 0px;
  color: white;
}

div {
  padding-left: 20px;
  width: 50%;
}

/*body {
	background-color: rgba(102, 151, 0, 0.2);
}*/
