html,body,.landing{ height: 100%; width: 100% ; }

body {
  background-color: rgb(255, 255, 255);
  font-size: 1.75em;
  background-image: url('images/cannon_and_chess.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*////////////// NAV BAR////////////// */

nav.navbar-default {
  background-color: #075033;
  font color: white;
  font-size: 1.5em;
  height: 80px;
  padding: 10px;

}

a:hover {
  color: #690;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav >li>a:hover, a:active, a:visited{
  color: #690;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  font-size: 2em;
  margin-left: 0px;
  color: white;
}

/*//////////////  FOOTER ///////////////*/

.navbar-footer {
  background-color: #075033;
  color: white;
  height: 40px;
  margin-top: -5px;
}
.navbar-footer a{
  color: white;
}

.navbar-footer a:hover, a:active {
  color: #690;
}

.navbar-footer ul{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.ul {
  display:  inline-block;
}

.landing{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/cannon_and_chess.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



/*.copyright {
  background-color: #075033;
  padding: 0;
  margin-top: 0px;
} */


/*///// BODY////////////*/

div.welcome {
  padding: 20px;
}

div.about_me {
  padding: 20px;
}

div {
  padding-left: 20px;
  padding-bottom: 10px;
}


