body {
	background-color: rgb(255, 255, 255);
}

nav.navbar-default {
  background-color: #075033;
  font color: white;
  font-size: 1.5em;
  height: 80px;
  padding: 10px;

}

.navbar-default .navbar-nav>li>a {
  color: white;
}




.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  font-size: 2em;
  margin-left: 0px;
  color: white;
}

/*//////////////  FOOTER ///////////////*/

.navbar-footer {
  background-color: #075033;
  color: white;
  height: 40px;
  margin-top: -5px;
}
.navbar-footer a{
  color: white;
}

.navbar-footer ul{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.ul {
  display:  inline-block;
}

/*.copy {
  background-color: #075033;
  padding: 0;
  margin-top: 0px;
} */


/*///// BODY////////////*/

div {
  padding-left: 20px;
  width: 50%;
}

div.right {
  float: right;
}

